@charset "UTF-8";

.main-content {
    padding: 10% 0 5% 0;
    max-width: 1000px;
    width: 100%; /* 小さい画面では100% */
    margin: 0 auto;
}

main {
    background-color: #FFFDF2;
}


/* font */
p {
    font-size: 16px;
    color: #503322;
    line-height: 1.5;
}

h2 {
    font-size: 24px;
    font-weight: 600;/* semibold */
    color: #503322;
    margin-bottom: 2%;
}

h3 {
    font-size: 20px;
    font-weight: 600;/* semibold */
    color: #503322;
    margin-bottom: 1%;
    line-height: 1.1;
}

.h3-b30px {
    margin-bottom: 3%;
}

.text-blue {
    color: #0032E8;
}

/* ページtitle */
.pege-ttl {
    width: 100%;
    margin-bottom: 3%;
    padding: 0;
}

/* プロフィール */
.profile {
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 3%;
    padding: 4.5% 7% 4% 3%;
    border: 1px solid #D3C6B7;
    border-radius: 20px;
}

.prf-imgfile {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #d3c6b7;
}

.prf-name h2 {
    margin-bottom: 0;
}

.prf-description h3 {
    margin: 1.5% 0 2%;
}

.prf-content {
    width: 60%px;
}

.prf-status {
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #503322;
    border-radius: 5px;
    margin: 0 0 0 50px;
    padding: 2px 5px;
    vertical-align: 5px;
}

.profile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3%;
    width: 100%;
}

/* 基本情報 */
.information {
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 3%;
    padding: 4% 3%;
    border: 1px solid #D3C6B7;
    border-radius: 20px;
}

.form-control {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #503322;
    color: #503322;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 30px;
}

.form-textarea {
    width: 100%;
    height: 130px;
    resize: none;
    font-size: 16px;
    color: #503322;
    text-indent: -80px;
    border: 1px solid #503322;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.btn-primary-s {
    padding: 0.9% 6%;
    margin: 0 4% 0 0;
    font-size: 16px;
    background-color: #F6D8B3;
    color: #503322;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.information-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

/* 投稿権限申請フォーム */
.authority {
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 0;
    padding: 4% 3%;
    border: 1px solid #D3C6B7;
    border-radius: 20px;
}

.authority-outline {
    background-color: #E9F5FE;
    width: 100%;
    margin-bottom: 4%;
    padding: 3%;
    border: 1px solid #2196F3;
    border-radius: 5px;
}

.textarea-finish {
    margin-bottom: 4%;
}

.agree input[type="checkbox"] {
    width: 19px;
    height: 19px;
    vertical-align: middle;
    accent-color: #F6D8B3;
    margin-bottom: 10px;
}

.agree label {
    font-size: 20px;
    font-weight: 600;
    color: #503322;
}

.agree a {
    border: 1px solid #503322;
    border-radius: 5px;
    padding: 2px 5px;
}

.agree-text {
    margin: 0 0 40px 26px;
}

.btn-primary-l {
    display: block;
    margin: 0 auto 4%;
    padding: 2.5% 9%;
    font-size: 20px;
    font-weight: 600;
    background-color: #F6D8B3;
    color: #503322;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* モバイル対応 */
@media(max-width: 390px) {
  .main-content {
    padding: 20% 4% 5%;
  }

  p {
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 5%;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 3%;
  }

    .btn-primary-s {
    width: 30%;
    font-size: 14px;
  }

  .btn-primary-l {
    width: 60%;
    font-size: 16px;
  }

  .prf-imgfile {
    width: 50px;
    height: 50px;
  }

  .prf-status {
    display: block;
    margin: 10px 0 0 0;
    width: fit-content;
  }

  .agree label {
    font-size: 16px;
  }

  .agree-text a {
    font-size: 14px;
  }
}





