@charset "UTF-8";

.main-content {
    padding: 10% 0 5% 0;
    max-width: 1000px;
    width: 100%; /* 小さい画面では100% */
    margin: 0 auto;
}

/* font-size */
p {
    font-size: 16px;
    color: #503322;
    line-height: 1.5;
}

h2 {
    font-size: 24px;
    font-weight: 600;/* semibold */
    color: #503322;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 600;/* semibold */
    color: #503322;
    margin-bottom: 10px;
}

.h3-text-blue {
    color: #0032E8;
}

.h3-b30px {
    color: #0032E8;
}

.h3-b30px {
    margin-bottom: 30px;
}

main {
    background-color: #FFFDF2;
    margin: 0;
    padding: 0;
}

.pege-ttl {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

.profile {
    background-color: #FFFFFF;
    width: 100%;
    height: 245px;
    margin-bottom: 30px;
    padding: 64px 0 0 140px;
    border: 1px solid #D3C6B7;
    border-radius: 20px;
}

#prf-name {
    font-size: 24px;
    font-weight: 600;/* semibold */
    color: #503322;
    margin-bottom: 25px;
}
.prf-status {
    border: 1px solid #503322;
    border-radius: 5px;
    margin: 0 70px 0 0;
    padding: 7px 0;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#prf-description {
    font-size: 20px;
    font-weight: 600;/* semibold */
    color: #503322;
    margin-bottom: 20px;
}

.profile-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.information {
    background-color: #FFFFFF;
    width: 100%;
    height: 485px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #D3C6B7;
    border-radius: 20px;
}

.form-control {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #503322;
    color: #503322;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 30px;
}

.form-textarea {
    width: 100%;
    height: 130px;
    resize: none;
    font-size: 16px;
    color: #503322;
    text-indent: -80px;
    border: 1px solid #503322;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.btn-primary-s {
    width: 140px;
    height: 40px;
    margin: 0 40px 0 0;
    font-size: 16px;
    background-color: #F6D8B3;
    color: #503322;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.information-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.authority {
    background-color: #FFFFFF;
    width: 100%;
    height: 730px;
    margin-bottom: 0;
    padding: 30px;
    border: 1px solid #D3C6B7;
    border-radius: 20px;
}

.authority-outline {
    background-color: #E9F5FE;
    width: 100%;
    height: 140px;
    margin: 0 30px 40px 0;
    padding: 30px;
    border: 1px solid #2196F3;
    border-radius: 5px;
}

.textarea-finish {
    margin-bottom: 40px;
}

.btn-primary-l {
    width: 300px;
    height: 80px;
    margin: 0 auto;
    font-size: 20px;
    background-color: #F6D8B3;
    color: #503322;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

