@charset "UTF-8";

/* ==================================================== */
/* 共通 */
/* ==================================================== */
.main-content {
  padding: 10% 0;
}

.allfonts {
  color: #503322;
}

.background {
  border: 2px solid #D3C6B7;
  background-color:#FFFDF2;
  border-radius: 20px;
  /* background-size:80%; */
  padding: 5% 0;
  margin: 0 25%;
}
/* ==================================================== */
/*  */
/* ==================================================== */
.titlefont {
  font-size: 24px;
  font-weight:bold;
  text-align: center;
  margin-bottom: 5%;
}

.subtitle {
  text-align: center;
  margin-bottom: 10%;
}

.fontsbold {
  font-weight:bold;
  margin-right: 70%;
  margin-left: 10%;
}



.textbox {
  border-width:1.5px;
  border-radius: 5px;
  width:70%;
  padding: 1.2%;
  margin-right: 70%;
  margin-left: 15%;
}

span {
  color: #F44336;
}




input[type="submit"]{
  /* font-family:'sans-serif';
  display:block; */
  font-size: 20px;
  font-weight:bold;
  text-align: center;
  border-radius:10px;
  background-color:#F6D8B3;
  color:#503322;
  border: none;
  width: 50%;
  padding: 3% 0;
  margin-bottom: 5%;
}


