.report-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.report-table th {
    background: #F2E4D4;
    color: #503322;
    text-align: center;
}

.report-table td {
    vertical-align: middle;
    text-align: center;
}

.badge {
    font-size: 0.9rem;
}

.paginate-box {
    margin-top: 15px;
    text-align: center;
}
