@charset "UTF-8";

/* ==================================================== */
/* 共通 */
/* ==================================================== */

/* コンテンツの幅 */
.main-content {
    width: 80%;
    margin: 0 auto;
    color: #503322;
}

/* バリデーションメッセージ */
.alert-danger {
    text-align: center;
    color: red;
}

/* ==================================================== */
/* PC用画面 */
/* ==================================================== */

.backgroundcolor-position {
    padding: 8% 0;
    background-color: #FFFDF2;
}

/* 新しい投稿を作成 */
h2 {
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 2%;
}

/* 猫の里親を募集する投稿を作成してください。 */
h3 {
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 2%;
}

/* 入力欄の2列の部分 */
.container-flex {
    display: flex;
}

/* 入力フォームの背景の白枠部分 */
.background-form {
    background: #ffffff;
    border-radius: 10px;
    padding: 5% 15%;
    margin: 3% 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 基本情報 */
.subtitle {
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 2%;
}

/* 入力フォーム各タイトル */
label {
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 2%;
}

/* ==================================================== */
/* テキストエリア：右下の角 */
textarea {
    resize: none;
}
/* ==================================================== */

/* テキストボックス（タイトル） */
.textbox-title {
    border-width:1.5px;
    border-radius: 5px;
    width: 70%;
    line-height: 1.2;
    margin-top: 1%;
    margin-bottom: 3%;
    position: static;
}

.aaa {
    margin-right: 10%;
}

/* テキストボックス（年齢） */
.textbox-age {
    border-width:1.5px;
    border-radius: 5px;
    width: 100%;
    line-height: 2;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* テキストボックス（性別） */
.textbox-gender {
    border-width:1.5px;
    border-radius: 5px;
    width: 250%;
    padding: 10%;
    /* margin-top: 5%; */
    /* margin-bottom: 10%; */
}

/* テキストボックス（品種） */
.textbox-kinds {
    border-width:1.5px;
    border-radius: 5px;
    width: 50%;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 3%;
}

/* テキストボックス（所在地） */
.textbox-location {
    border-width:1.5px;
    border-radius: 5px;
    width: 50%;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 3%;
}

/* テキストボックス（ステータス） */
.textbox-status {
    border-width:1.5px;
    border-radius: 5px;
    width: 30%;
    padding: 0.75%;
    margin-top: 1%;
    margin-bottom: 3%;
}

/* テキストボックス（掲載開始日） */
.textbox-start-date {
    border-width:1.5px;
    border-radius: 5px;
    width: 100%;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 3%;
}

/* テキストボックス（掲載終了日） */
.textbox-end-date {
    border-width:1.5px;
    border-radius: 5px;
    width: 100%;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 3%;
}

.ccc {
    margin-left: 15%;
}

/* ======================================================================= */

/* 写真・動画の背景の白枠部分 */
.background-photo-move {
    background: #ffffff;
    border-radius: 10px;
    padding: 5% 15%;
    margin: 3% 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 健康状態の背景の白枠部分 */
.background-health {
    background: #ffffff;
    border-radius: 10px;
    padding: 5% 15%;
    margin: 3% 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 詳細説明の背景の白枠部分 */
.background-description {
    background: #ffffff;
    border-radius: 10px;
    padding: 5% 15%;
    margin: 3% 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 費用の背景の白枠部分 */
.background-price {
    background: #ffffff;
    border-radius: 10px;
    padding: 5% 15%;
    margin: 3% 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 投稿を作成ボタン */
.botten {
    font-size: 20px;
    font-weight:bold;
    border-radius:10px;
    background-color:#F6D8B3;
    color:#503322;
    border: none;
    width: 30%;
    padding: 2% 0;
    margin-bottom: 5%;
}

/* 投稿を作成ボタン：ホバー */
.botten:hover {
    /* カーソルホバー時に設定した透明度で反応させる */
    opacity: 0.8;
}

/* 投稿を作成ボタン：センター */
.btn {
    text-align: center;
}

/* テキストボックス（予防接種） */
.textbox-vaccine {
    border-width:1.5px;
    border-radius: 5px;
    width: 100%;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 3%;
}

/* テキストボックス（病歴） */
.textbox-disease {
    border-width:1.5px;
    border-radius: 5px;
    width: 100%;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 3%;
}

/* テキストボックス（詳細説明） */
.textbox-description {
    border-width:1.5px;
    border-radius: 5px;
    width: 100%;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 3%;
}

/* テキストボックス（費用） */
.textbox-price {
    border-width:1.5px;
    border-radius: 5px;
    width: 30%;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 3%;
}

/* ==================================================== */
/* スマホ用画面 */
/* ==================================================== */
@media (max-width: 390px) {

    .backgroundcolor-position {
        padding: 20% 0;
        background-color: #FFFDF2;
    }

    /* 新しい投稿を作成 */
    h2 {
        font-size: 20px;
    }

    /* 猫の里親を募集する投稿を作成してください。 */
    h3 {
        font-size: 16px;
    }



}