@charset "UTF-8";

/* ==================================================== */
/* 共通 */
/* ==================================================== */

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

body {
  display: flex;
}

a {
  font-size: 20px;
  font-weight: 700;
  color: #503322;
  text-decoration: none;
  cursor: pointer;
}

/* ==================================================== */
/* header */
/* ==================================================== */

header {
  width: 20%;
  height: 100vh;
  background: #FFFDF2;
  text-align: center;
  position: fixed;
  border-right: 2px solid #503322;
}

.header-logo {
  padding: 1% 0;
  border-bottom: 2px solid #503322;
}

.logo {
  width: 45px;
  height: 45px;
}

.header-nav li {
  background: #F6D8B3;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
}

.header-nav li:first-child {
  margin-top: 10%;
}

.header-nav li:last-child {
  background: none;
}

.logout {
  color: #F00C0C;
}